# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Android-related environment settings
export ANDROID_HOME=${HOME}/Library/Android/sdk
export PATH=${PATH}:~/Library/Android/sdk/platform-tools
export PATH=${PATH}:~/Library/Android/sdk/emulator

# For EC-GraphQL, we need node@8
# export PATH=/usr/local/opt/node@8/bin:${PATH}

# For Commitizen, we need node@10
export PATH=/usr/local/opt/node@10/bin:${PATH}

# For android-resource-remover
export PATH=${PATH}:/usr/local/bin

# For nvm
export NVM_DIR=~/.nvm
source $(brew --prefix nvm)/nvm.sh
